<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
     ## Force HTTPS
        RewriteCond %{HTTPS} !on
        RewriteRule (.*) https://%{HTTP_HOST} [L,R=301]

        redirect 301 /fa/about-us https://adib-it.com/
        redirect 301 /fa/blog/معرفی-ابزارهای-تولید-کننده-کلمات-کلیدی https://adib-it.com/
        redirect 301 /fa/template/آتیش-یاپی https://adib-it.com/
        redirect 301 /fa/template/آتلیه-سارا https://adib-it.com/
        redirect 301 /fa/template/پازک-(پارس-آذین-ایده-کالا) https://adib-it.com/
        redirect 301 /fa/Customers?page=2 https://adib-it.com/
        redirect 301 /fa/Customers?page=4 https://adib-it.com/
        redirect 301 /fa/template/پازک---بسکیو https://adib-it.com/
</IfModule>
